{% extends 'base.html' %}

<!--Header-->
{% block head %} {{ super() }} {% endblock %}
{% block title %} {{ super() }} {% endblock %}
<!--Header End-->


<!--Body Content-->
{% block content %}

<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <form method="GET" action="/results">
        <div class="formUnit">
          <label for="EventType">What</label>
          <select class="form-control" id="eventType" name="type" onchange="">
            <option value="Music">Music</option>
            <option value="Sports">Sports</option>
            <option value="Arts & Theatre">Arts & Theatre</option>
            <option value="Film">Film</option>
            <option value="Miscellaneous">Miscellaneous</option>
          </select>
        </div>
        <div class="formUnit">
          <label for="city">Where</label>
          <select class="form-control" id="city" name="city" onchange="">
            <option value="London">London</option>
            <option value="Manchester">Manchester</option>
            <option value="Birmingham">Birmingham</option>
            <option value="Leeds">Leeds</option>
            <option value="Glasgow">Glasgow</option>
          </select>
        </div>
        <div class="formUnit">
          <label for="days">When</label>
          <select class="form-control" id="days" name="days" onchange="">
            <option value="1">Today</option>
            <option value="2">Today & Tomorrow</option>
            <option value="7">Next 7 days</option>
          </select>
        </div>
        <div class="submitButton">
          <input type="submit" class="btn btn-warning" id="submit-button" value="Search Event">
        </div>
      </form>
    </div>
  </div>
</div>


<!--Body Content End-->
{% endblock %}
<!--Body Content End-->

<!--Footer-->
{% block footer %} {{ super() }} {% endblock %}
<!--Footer end-->
